:root {
    --test: yellow;
    --test2: blue;

    --temp-dark: #2f2235;
}

/* Polices d'écritures */
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}


/* --- HTML / BODY --- */
html {
    /* Empêche le scroll horizontal */
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Montserrat;
}

body {
    margin: 0;
    padding: 0;
}

/* Thème sombre */
@media (prefers-color-scheme: dark) {
    .part-about {
        background-color: var(--test);
    }
}

/* Thème clair */
@media (prefers-color-scheme: light) {
    .part-about {
        background-color: var(--test);
    }
}

/* Barre de navigation */
.navbar {
    background-color: var(--temp-dark);
    color: white;
    text-decoration: none;
    height: 50px;
    width: 100%;
}

.navbar ul {
    margin-top: 0;
}

.navbar ul li {
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
    padding-top: 15px;
    width: 15%;
}

.navbar ul li:first-child {
    padding-left: 15%;
}

.navbar a {
    text-decoration: none;
    color: white;
}





/* --- Titre blog-portfolio --- */
.segment-1 {
    background-attachment: fixed;
    background-image: url("../media/image1.jpg");
    background-size: cover;
    background-position: 35% 65%;
    background-repeat: no-repeat;
    height: 600px;
}

.segment-1 h1 {
    font-size: 50px;
    color: white;
    padding-left: 40%;
    margin: 0;
    padding-top: 170px;
}





/* --- Partie A propos --- */
.about-me {
    /* https://uigradients.com/#Lawrencium */
    /* background: #0f0c29; */  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); */  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.about-me-card {
    background-color: #0f0c29;
    width: 90%;
    height: 500px;
    border-radius: 10px;
}
.pp {
    /* background-color: brown; */
    width: 30%;
    height: 100%;
    float: left;
}
.pp img {
    display: block;
    width: auto;
    height: 100%;
    padding-left: 5%;
}

.text1 {
    /* background-color: blue; */
    position: absolute;
    margin-left: 27%;
    margin-top: 0;
    width: 63%;
    height: 11rem;
    font-size: larger;
}
.text1 .p1 {
    /* background-color: chartreuse; */
    height: 50%;
    width: 100%;
    position: absolute;
    display: flex;
}
.text1 .p2 {
    /* background-color: red; */
    top: 50%;
    width: 100%;
    position: absolute;
    display: flex;
}
.p1 p,
.p2 p {
    padding-left: 5%;
    padding-right: 15%;
}
.text2 {
    /* background-color: aqua; */
    position: absolute;
    margin-left: 27%;
    margin-top: 11rem;
    width: 63%;
    height: 13rem;
    font-size: larger;
}

.button-cv {
    /* background-color: chartreuse; */
    position: absolute;
    margin-left: 27%;
    margin-top: 24rem;
    width: 63%;
    height: 7rem;
    text-align: center;
}
.button-cv button {
    position: absolute;
    top: 30%;
    left: 65%;
    background-color: #222;
    color: rgb(233, 233, 233);
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    padding: 9px 20px 8px;
    cursor: pointer;
}
.button-cv button:hover,
.button-cv button:focus {
    opacity: .75;
    transition: 0.2s;
}

#about-me-title {
    margin: 0;
    padding: 0 30px;
    font-size: 30px;
}




/* Footer */
.footer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(14, 13, 13);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-col {
    width: 35%;
}

.footer-col:first-child {
    padding-left: 25%;
}

.footer h3 {
    color: rgb(255, 255, 255);
}

.footer ul {
    list-style: none;
    padding-inline-start: 0;
}

.footer ul li {
    padding-top: 10px;
}

/* Liens footer */
.footer a {
    text-decoration:none;
    color: rgb(206, 209, 209);
    transition: 1s;
}

.footer a:hover {
    color: white;
    transition: 1s;
}