html {
    /* Empêche le scroll horizontal */
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.segment-1 {
    background-attachment: fixed;
    background-image: url("media/image1.jpg");
    background-size: cover;
    background-position: 35% 65%;
    background-repeat: no-repeat;
    height: 600px;
}

.segment-1 h1 {
    color: white;
    padding-left: 40%;
}

.card-description {
    background-color: rgb(42, 42, 42);
    /* width: 110%; */
    color: rgb(217, 214, 214);
}

.cv {
    background-color: white;
    width: fit-content;
    padding: 5px;
    height: auto;
}